.task-container {
  border: 1px solid #ccc;
  padding: 5vw; 
  margin: 2vh; 
  background-color: #fffafa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 30vw;
  height: 25vh;
}
.task-details {
  position: relative;
  margin-top: 2vh;
  padding: 2vw; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.table-container {
  margin-top: 2vh;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table th,
.table td {
  padding: 1vh 2vw; 
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1vw;
}
.table tr {
  height: 5vh; 
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;

}


.table tr:hover {
  background-color: #ddd;
}


.stopwatch-container {
  text-align: center;
  background-color: #f2f2f2;
  padding: 2vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
  width: 15vw;
  height: 10vh; 
}

.stopwatch-container p {
  font-size: 1.3vw; 
  margin: 1vh 0;
  position: relative;
  bottom: 2.3vh;
}

.stopwatch-container button {
  background-color: #50b7c9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: 1vh;
  font-size: 0.8vw; 
  height: 2vh;
  width: 3vw;
  position: relative;
  bottom: 4vh;

}
.stopwatch-container button:nth-child(2) {
  margin: 1vh 2vw; 
}

.stopwatch-container button:hover {
  background-color: #6bd7eb;
}
.responsive-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
  padding: 5vh;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 3vh;
  gap: 3vw;
  transition: transform 0.2s ease-in-out;
}
.responsive-form:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  background-color: #e5e5e5; 
}


.responsive-form button.form-button:hover {
  background-color: #6bd7eb;
  color: #fff;
}

.form-input,
.form-textarea,
.form-button {
  width: 100%;
  padding: 1vh;
  margin: 1vh 0;
  border: none;
  border-radius: 5px;
  
}

.form-input,
.form-textarea {
  background-color: #f2f2f2;
}

.form-button {
  background-color: #50b7c9;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  top: 5vh;
  width: 15vw;
}

.form-button:hover {
  background-color: #6bd7eb;
}

.form-textarea {
  resize: none;
  height: 10vh; 
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 5vh;
  width: 3vw;
  background-color: #ccc;
  border-radius: 50%;
  transition: .4s;
}

.checkmark:hover {
  box-shadow: inset 17px 17px 16px #b3b3b3,
            inset -17px -17px 16px #ffffff;
}
.container input:checked ~ .checkmark {
  box-shadow: none;
  background-color: limegreen;
  transform: rotateX(360deg);
}

.container input:checked ~ .checkmark:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  left: 0.96em;
  top: 0.7em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  box-shadow: 0.1em 0.1em 0em 0 rgba(0,0,0,0.3);
  transform: rotate(45deg);
}
.slider {
  background-color: #ffffff2b;
  border-radius: 100px;
  padding: 1px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  align-items: center;
  position: relative;
  display: block;
  width: 51px;
  height: 29px;
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset,
        yellow 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.slider::after {
  content: "";
  display: flex;
  top: 2.3px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #e3e3e3;
  border-radius: 200px;
  position: absolute;
  box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
  transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  will-change: left, background-color;
}

.switch input[type="checkbox"]:checked + .slider {
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, yellow 0px 0px 0px 2px inset, yellow 0px 0px 0px 24px inset,
        rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.switch input[type="checkbox"]:checked + .slider::after {
  left: 1.6vw;
}

.switch input[type="checkbox"] {
  display: none;
}

.table th {
  width: 20%;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}
.table td {
  width: 20%;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.table-row-draggable {
  cursor: grab;
}
.table-row-dragging {
  background-color: #fff; 
  border: 1px dashed #007bff;
}
.artistic-delete-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.delete-icon {
  font-size: 4vh; 
  color: rgb(255, 0, 0) ; 
}
.all{
  position: relative;
  top: 15vh;
}
#newTaskHeader{
  position:relative;
  bottom: 10vh;
  left: 18vw;
  
}

.form-group{
  position: relative;
  top: 5vh;
}
#taskManagmentHeader{
display: flex;
justify-content: center;
position: relative;
bottom: 4vh;
font-size: 4vw;
}
#modalContainer {
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#subHeader {
  font-size: 24px;
  color: #333;
}

#subContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  gap: 1vw;
}

.sub {
  flex: 1;
  padding: 20px;
  background-color: purple;
  color: white;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.sub:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(128, 0, 128, 0.5);
}

#title {
  font-size: 18px;
  margin-bottom: 10px;
}

#details {
  font-size: 14px;
  margin-bottom: 10px;
}

p:last-child {
  color: purple;
  font-weight: bold;
}

#cancelSub{
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

#cancelSub:hover {
  background-color: #6a0dad;
}

#creditImage{
  width: 21vw;
  height: 28vh;
  position:relative;
  margin: auto;

}
.TaskName{
  position:relative;
  bottom: 5vh; 
}
.TaskDetails{
  position:relative;
  bottom: 3vh; 
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .task-container {
    font-size: 3.5vw;
  }
  *{
      box-sizing: border-box;
  }
.responsive-form button{
  position: absolute;
  width: 70vw;
  top: 18vh;
  right: 2vw;
}
  .task-details {
    padding: 2.5vw;
  }

  #newTaskHeader {
    font-size: 3.5vw;
    position: relative;
    bottom: 6vh;
    left: 25vw;
  }
  #taskManagmentHeader{
      position: relative;
      bottom: 7vh;
      font-size: 4vw;
      left: 3vw;
  }

  .form-group {
    top: 0.5vh;
  }

  .table th,
  .table td {
    padding: 2vw;
    font-size: 2vw;
  }

  .stopwatch-container {
    padding: 3.5vw;
    font-size: 2.2vw;
    width: 22vw;
  }

  .stopwatch-container button {
    width: 5vw;
    height: 2vh;
    font-size: 1vw;
    position: relative;
    right: 3vw;
  }

  .responsive-form {
    padding: 4vw;
    gap: 4vw;
    width: 75%;
    position: relative;
  left: 5vw;
  }
  .container input:checked ~ .checkmark:after{
      display: none;
  }

}
@media (max-width: 480px) {
  .task-container {
      width: 95%;
      padding: 3vw;
      margin: 2vh auto;
      font-size: 4vw;
      height: auto;
    }
 
    .task-details {
      margin-top: 1vh;
      padding: 3vw;
    }
  #newTaskHeader {
      font-size: 4vw;
      bottom: 3vh;
      left: 10%;
    }
 
    .form-group {
      top: 1vh;
    }
  .table th,
  .table td {
    padding: 2vw;
    font-size: 3vw;
  }
  .stopwatch-container {
    padding: 4vw; 
    width: 80%; 
    position: relative;
    margin: auto;
  }
  .stopwatch-container button{
      width: 8vw;
      height: 3vh;
      position: relative;
      bottom: 2vh;
      font-size: 2.5vw;
  }
  .responsive-form {
    width: 95%;
    padding: 5vw;
    gap: 5vw;
  }

    .table th {
      display: none;
    }
    .table td {
      display: block;
      width: 100%;
      text-align: left;
      padding: 10px 0; 
    }
    .table .table-row {
      border-bottom: 1px solid #ddd; 
    }
    .table .table-cell {
      text-align: center;
    }
    .table .delete-button {
      width: 100%;
      text-align: center;
    }
    .table .table-cell,
    .table .delete-icon {
      font-size: 16px;
    }
    .table .container .checkmark {
      height: 20px;
      width: 20px;
    }
    .table .container {
      text-align: center;
    }
    .slider{
      position: relative;
      margin: auto;
    }
    .checkmark{
      position:relative;
      margin: auto;
    }
    #newTaskHeader{
      position: relative;
      left: 33vw;
      bottom: 5vh;
    }
    #taskManagmentHeader{
      position: relative;
      font-size: 6vw;
      bottom: 7vh;
    }
    .form-button{
     position: absolute;
      top: 17.5vh;
      width: 80vw;
      font-size: 3vw;
    }
    #taskDetails{
      height: 6vh;
    }
   .TaskName{
      position: relative;
      bottom: 3.2vh;
   }
   .TaskDetails{
      position: relative;
      bottom: 1.2vh;
   }
   #taskName::placeholder{
      font-size: 2vw;
   }
   #taskDetails::placeholder{
      font-size: 2vw;
   }
   .container input:checked ~ .checkmark:after {
   display: none;
}
.switch input[type="checkbox"]:checked + .slider::after {
  left: 4.5vw;
}
}