
.navBarContainer{
  width: 100%;
  background-image: linear-gradient(to bottom, #2893eb, #1a5391);
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%; 
  margin-bottom: 5px; 
  height: 9vh;
  background-image: linear-gradient(to bottom, #01014d,#05073c);
}

#header {
  font-size: 4vw;
  font-family:sans-serif  ;
  margin: 6vw;
  color: rgb(234, 234, 234);
}

.navul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw; 
  margin: 1vw;
  padding: 0;
}

#navimg{
  display: flex;
  width: 3vw;
  height: 3vh;
}

#link {
  font-size: 2vw;
padding: 1vw;
  transition: 0.5s;
}

#link a {
  text-decoration: none;
  color: rgb(222, 222, 222); 
}

#link:hover {
  background-color: #10a2c2;
}

@media (max-width: 400px){
  #link {
    font-size: 2.5vw;
  }
  #header {
    font-size: 6vw;
   
  }
}